h2{
    color:brown
}
input {
    color: blue;
}
input {
    background-color: rgb(201, 185, 187);
}
input {
    border: 2px solid rgb(19, 0, 128);
}
input:focus {
    border-color: blue;
    outline: none;
    background-color: #2978be;
}
div {
    width: 250px;
    padding: 20px;
    border: 5px solid rgb(20, 20, 22);
    margin: 30px;
    background-color: lightyellow;
}
h1{
    font-size:40px;
}

p{
    font-size:2em;
}

div{
    width:50%;
}

.box{
    width:50vw;
    height:40vh;
}

.small{
    font-size:2rem;
}
body{
    background-color:white;
}

@media (max-width:768px){

body{
    background-color:lightblue;
}

h1{
    font-size:25px;
}

}
div{
    background:rgb(200, 202, 200);
    padding:20px;
    margin:20px;
}

span{
    background:yellow;
    padding:10px;
}
/* Element Selector */
h1 {
    color: blue;
}

/* Class Selector */
.para {
    color: green;
}

/* ID Selector */
#title {
    text-align: center;
}

/* Pseudo Class */
a:hover {
    color: red;
}

/* nth-child Selector */
li:nth-child(2) {
    color: orange;
    font-weight: bold;
}