h1{
    color: #dc0c0c;
}
h2{
    color: #0c24dc;
}
p{
    color: #dc0ca8;
}
/* syntax
selector{property: value}
element selector
h1{color:red} */
/* class selector
class selector .heading1{color:red}
.heading2{color:blue}
.heading3{color:green}
 */
 /* where to use the class selector
 <h1 class="heading1">Title 1</h1>
 <h2 class="heading2">Title 2</h2>
 <h3 class="heading3">Title 3</h3>
 */
class selector
.heading1{color:red}
.heading2{color:blue}
.heading3{color:green}
/* id selector
#heading2 {color:blue}
 */
id selector
#heading2 {color:blue}
#passwordInput {color:red}
/* attribute selector
input[placeholder] {color:gray}
 */
input[type="email"] {color:rgb(31, 13, 13)}
#nameInput {color:black}

/* decendant selector 
*/
div h1 {color:blue}
div h2 {color:green}
div p {color:purple}
/* child selector */
div > h1 {color:blue}
div > h2 {color:green}
div > p {color:purple}  
/* pseudo selector 
a:hover{color:blue}
a:active{color:red}
a:visited{color:purple}
ul:first-child{color:name} 
ul:last-child{color:green}
ul:nth-child(2){color:blue}*/
a:hover{color:blue}
a:active{color:red}
a:visited{color:purple}
ul:first-child{color:name} 
ul:last-child{color:green}
ul:nth-child(2){color:blue}
/* h1{margin: 10px;
padding: 10px;
border: 1px solid #ccc;
} */
 h1{margin: 10px;
padding: 10px;
border: 1px solid #ccc;
} 